/* DESKTOP */
@media (min-width: 1000px) {
  h1 {
    font-size: 2.5em;
    letter-spacing: 6px;
  }

  h2 {
    font-size: 2.3em;
    letter-spacing: 4px;
  }

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }

  .nav ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    position: relative;
    background-color: none;
  }

  .nav li {
    display: inline;
    padding: 10px;
  }

  .logo {
    max-width: 78px;
  }

  .text-logo {
    max-width: 100%;
  }

  .logo-and-text {
    max-width: 180px;
  }

  .nav label,
  .news-aero img,
  .news-night img,
  .news-energy img {
    display: none;
  }

  /* HOME */
  .hero-banner,
  .explore-section {
    height: 666px;
  }

  .cta-varied {
    font-size: 2.8em;
    padding: 10px 125px 0px 125px;
  }

  .hero-banner h1 {
    margin-bottom: 20px;
  }

  .news {
    overflow-x: hidden;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: auto;
    gap: 20px;
  }

  .news-heading {
    margin-left: 0px;
  }

  .news-aero,
  .news-night,
  .news-energy {
    min-height: 550px;
    grid-template-rows: 80px auto;
  }

  .news-energy {
    background-position-x: 40%;
  }

  .news h3 {
    margin: 15px 35px;
    line-height: 0.8;
  }

  .news p {
    margin-top: 40px;
    font-size: 1.3em;
    text-shadow: #000 2px 0 10px;
  }

  .whats-new {
    display: grid;
    max-width: 1200px;
    margin: auto;
  }

  .newsletter {
    padding: 30px 40px;
    margin-bottom: 50px;
  }

  .newsletter h2 {
    font-size: 2.6em;
  }

  .newsletter-subtitle,
  .newsletter-email {
    font-size: 1.4em;
  }

  .newsletter-subtitle {
    margin-bottom: 70px;
  }

  .newsletter-email {
    margin-bottom: 10px;
  }

  #newsletter {
    height: 45px;
    width: 75%;
    margin-bottom: 40px;
  }

  .cta {
    margin-left: 20px;
    padding: 5px 50px 2px 50px;
    font-size: 2em;
  }

  /* EXPLORE */
  .explore {
    max-width: 1200px;
  }

  .explore h2 {
    font-size: 1.8em;
  }

  .kids,
  .teachers,
  .researchers {
    height: 210px;
  }

  .exhibitions {
    max-width: 1200px;
    margin: auto;
    padding-top: 180px;
    gap: 80px;
    margin-bottom: 80px;
  }

  .exhibitions h2 {
    font-size: 2.5em;
    letter-spacing: 6px;
    margin-bottom: -80px;
  }

  .exhibitions h3 {
    margin: 10px 0px;
  }

  .ecology img {
    max-height: 370px;
    width: 100%;
  }

  /* VISIT */
  .visit-banner {
    height: 530px;
  }

  .visit h1 {
    font-size: 2.7em;
  }

  .visit-info {
    grid-template-columns: auto 520px;
    max-width: 1200px;
    margin: 70px auto;
  }

  .opening-hours {
    padding: 50px 70px;
  }

  .opening-hours h3 {
    font-size: 2.1em;
    letter-spacing: 4px;
  }

  table {
    font-size: 1.2em;
  }

  .accommodations {
    column-gap: 150px;
    margin: 70px auto;
    max-width: 1200px;
  }

  .accommodations h2 {
    margin-bottom: 40px;
  }

  .visit h3 {
    color: #000;
  }
}

/* ---------------------------------- TABLET AND DESKTOP ------------------------------- */
@media (min-width: 700px) {
  .footer {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    max-width: 1200px;
    padding: 40px;
  }

  footer li {
    padding: 5px 0px;
    font-size: 1em;
  }

  footer p {
    font-size: 1.1em;
  }

  footer h2 {
    font-size: 1.7em;
  }

  .adress {
    grid-area: 2/1;
    margin-bottom: 0px;
  }

  .phone {
    grid-area: 3/1;
    margin-bottom: 0px;
  }

  .csm-email {
    grid-area: 4/1;
    margin-bottom: 0px;
  }

  .copyright {
    grid-area: 4/2;
    grid-column: span 2;
  }

  footer nav {
    grid-area: 2/2;
  }

  .social-media {
    grid-area: 2/3;
    justify-content: end;
  }

  .social-media img {
    max-width: 59px;
  }
  .our-exhibitions-mobile,
  .visit-library-mobile {
    display: none;
  }

  .exhibition-img {
    background-image: url(/images/exhibition.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .explore-section {
    background-image: none;
    display: grid;
    color: #fff;
    align-items: center;
    max-width: 1280px;
    margin: auto;
  }

  .explore-section h2,
  .explore-section p {
    text-shadow: #000 2px 0 10px;
    max-width: 500px;
    margin-left: 40px;
  }

  .explore-section p {
    align-self: start;
  }

  .explore-section .cta-varied {
    background-color: #f08100;
    padding: 10px 100px 0px 100px;
    justify-self: end;
    margin-right: 40px;
  }

  .cosmology,
  .evolution,
  .biology,
  .robotics,
  .ecology {
    grid-template-columns: 1fr 1fr;
  }

  .cosmology img,
  .biology img,
  .ecology img {
    grid-column: 2;
  }

  .exhibitions-copy {
    margin: auto;
  }

  .exhibitions img {
    height: 100%;
    object-fit: cover;
  }

  .robotics img {
    max-height: 285px;
    width: 100%;
  }

  .cosmology img {
    max-height: 455px;
  }

  .evolution img {
    max-height: 510px;
  }

  .biology img {
    max-height: 580px;
  }

  /* FOR KIDS */
  .for-kids {
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 60px;
  }

  .for-kids img {
    height: auto;
    justify-self: center;
  }

  .for-kids-copy {
    align-self: center;
    margin: 0px;
  }

  .for-kids h1 {
    margin-bottom: 50px;
  }

  /* VISIT */
  .visit-info {
    display: grid;
  }

  .visit-us {
    margin: 0px;
  }

  .opening-hours {
    max-width: fit-content;
    place-self: center;
  }

  .opening-hours h3 {
    color: #fff;
    margin-bottom: 20px;
  }

  th {
    padding-bottom: 4px;
  }

  .visit-library {
    background-image: url(/images/library-1132573_1920.jpg);
    height: 390px;
    background-size: cover;
    background-position-y: 40%;
  }

  .accommodations {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .accessibility {
    grid-area: 2/1;
  }

  .food {
    grid-area: 3/1;
  }

  .shop {
    grid-area: 2/2;
  }
}

/* ------------------------------------- TABLET ------------------------------------- */
@media (min-width: 700px) and (max-width: 999px) {
  .nav label {
    display: none;
  }

  .nav ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    position: relative;
    background-color: none;
  }

  .nav li {
    display: inline;
    padding: 10px;
    font-size: 0.9em;
  }

  .hero-banner,
  .explore-section {
    height: 500px;
  }

  .news p {
    max-width: 500px;
    font-size: 1.3em;
  }

  .news-title {
    width: 100%;
    text-align: center;
  }

  .news-aero,
  .news-night,
  .news-energy {
    justify-items: center;
    grid-template-rows: 70px auto;
  }

  .news-energy {
    background-position-y: 90%;
  }

  .news-night {
    background-position-y: top;
  }

  .newsletter {
    padding: 30px 40px;
  }

  .newsletter h2 {
    font-size: 2.2em;
  }

  .newsletter-subtitle,
  .newsletter-email {
    font-size: 1.1em;
  }

  .newsletter-subtitle {
    margin-bottom: 50px;
  }

  .newsletter-email {
    margin-bottom: 5px;
  }

  #newsletter {
    height: 40px;
    width: 70%;
    margin-bottom: 40px;
  }

  .cta {
    margin-left: 10px;
    padding: 5px 30px 2px 30px;
    font-size: 1.6em;
  }

  /* EXPLORE */
  .explore {
    max-width: 90%;
  }

  .explore h2 {
    font-size: 1.5em;
  }

  .kids,
  .teachers,
  .researchers {
    height: 250px;
  }

  .exhibitions {
    margin: auto;
    padding-top: 100px;
    gap: 40px;
  }

  .exhibitions h2 {
    font-size: 2em;
    letter-spacing: 3px;
    margin-bottom: -20px;
    margin-left: 5%;
  }

  .exhibitions-copy {
    padding-bottom: 20px;
  }

  .ecology img {
    width: 100%;
  }

  .evolution img {
    object-position: 30%;
  }

  .robotics img {
    max-height: 305px;
  }

  /* VISIT */
  .visit-banner {
    height: 330px;
  }

  .visit h1 {
    font-size: 2.2em;
  }

  .visit-info {
    grid-template-columns: auto auto;
    max-width: 90%;
    margin: 40px auto;
  }

  .opening-hours {
    padding: 20px 40px;
  }

  .opening-hours h3 {
    font-size: 1.5em;
    letter-spacing: 2px;
  }

  .accommodations {
    column-gap: 50px;
    margin: 40px auto;
  }

  .accommodations h2 {
    margin-bottom: 20px;
  }
}
/* ------------------------------- BIGGER THAN 500 ------------------------------------ */
@media (min-width: 500px) {
  /* HOME */
  .arrow {
    display: none;
  }

  .cta-varied {
    font-family: "Ravi Prakash", Georgia, "Times New Roman", Times, serif;
    background-color: #41a650;
    width: fit-content;
    align-self: start;
    border: solid #000 1px;
    box-shadow: 5px 5px 10px #000;
  }

  .cta-varied a {
    margin: 0px;
  }

  .hero-banner {
    place-items: center;
  }

  .hero-banner h1 {
    align-self: end;
    padding: 0px;
    text-shadow: #000 2px 0 10px;
    color: #fff;
  }

  .news-heading {
    color: #a42e5d;
  }

  /* EXPLORE */
  .explore {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: hidden;
    margin: auto;
    gap: 20px;
  }

  .explore h1 {
    grid-row: -1;
    margin-top: 50px;
  }

  .explore h2 {
    letter-spacing: 0px;
    grid-row: end;
    padding: 15px;
    text-shadow: none;
  }

  .explore .cta-varied {
    display: none;
  }

  .kids,
  .teachers,
  .researchers {
    grid-row: 2;
  }

  .kids {
    background-position: 10%;
  }

  .kids h2 {
    background-color: #f080008c;
  }

  .teachers h2 {
    background-color: #a42e5d93;
  }

  .researchers h2 {
    background-color: #3669a38f;
  }
}

/* --------------------------------- BETWEEN 500 AND 700 --------------------------------- */
@media (min-width: 500px) and (max-width: 699px) {
  .hero-banner,
  .explore-section {
    height: 300px;
  }

  .explore-section {
    display: grid;
  }

  .explore-section .cta-varied {
    background-color: #f08100;
    padding: 10px 70px 0px 70px;
    place-self: end;
    margin-bottom: 40px;
    margin-right: 40px;
    font-size: 2em;
  }

  /* EXPLORE */
  .explore {
    grid-gap: 5px;
    max-width: 90%;
  }

  .explore h1 {
    margin-top: 20px;
  }

  .explore h2 {
    font-size: 1em;
  }

  .kids,
  .teachers,
  .researchers {
    height: 210px;
  }

  .exhibitions {
    margin: auto;
    margin-top: 50px;
  }

  .exhibitions img {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
  }

  .exhibitions h2 {
    margin-left: 5%;
  }

  /* FOR KIDS */
  .for-kids img {
    height: 450px;
  }

  /* VISIT */
  .visit-banner {
    height: 200px;
  }

  .visit-library-mobile {
    height: 300px;
  }
}

/* --------------------------------- BETWEEN 500 AND 1000 --------------------------------- */
@media (min-width: 500px) and (max-width: 999px) {
  h1 {
    font-size: 2em;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 1.7em;
    letter-spacing: 2px;
  }

  h3 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.1em;
  }

  /* HOME */
  .cta-varied {
    font-size: 2em;
    padding: 4px 90px 0px 90px;
  }

  .hero-banner h1 {
    margin-bottom: 10px;
  }

  /* EXPLORE */
  .explore h2 {
    white-space: nowrap;
  }
}

/* --------------------------------- BETWEEN 500 AND 1500 --------------------------------- */
@media (min-width: 500px) and (max-width: 1500px) {
  .exhibition-img {
    background-position-x: 40%;
    background-position-y: center;
  }
}

/* --------------------------------- BETWEEN 1000 AND 1300 --------------------------------- */
@media (min-width: 1000px) and (max-width: 1300px) {
  .visit-us {
    margin-left: 10%;
  }
}

/* --------------------------------- MOBILE ---------------------------------------------- */
@media (max-width: 500px) {
  .explore h1 {
    display: none;
  }
}

/* --------------------------------- SMALLER THAN 700 --------------------------------- */
@media (max-width: 700px) {
  .our-exhibitions-heading,
  .our-exhibitions p {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .young-stars-club {
    display: grid;
  }

  .reading {
    grid-row: 3;
    margin-bottom: 0px;
    height: 500px;
  }

  .young-stars-club-copy {
    padding: 50px;
    max-width: 600px;
    color: #000;
  }

  fieldset {
    max-width: 600px;
    margin: 20px auto 50px auto;
  }
}

/* --------------------------------- BIGGER THAN 1200 --------------------------------- */
@media (min-width: 1200px) {
  /* FOR KIDS */
  .for-kids {
    max-width: 1200px;
    margin-top: 35px;
    margin-bottom: 150px;
  }

  .for-kids img {
    height: 740px;
    width: 500px;
  }

  .reading {
    height: 100%;
    margin: 0px;
    grid-column: 2;
    grid-row: span 2;
    place-self: center;
  }

  .young-stars-club {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 1150px;
    margin-bottom: 100px;
  }

  form {
    margin: 50px;
  }

  .young-stars-club-copy,
  .young-stars-club h2 {
    grid-area: 1/1;
    color: #000;
  }

  .young-stars-club-copy {
    padding: 50px;
    padding-bottom: 0px;
  }
}
