h1,
h2 {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0px;
}

h3,
p,
nav {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
}

h3 {
  font-variant: small-caps;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #edebeb;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #edebeb;
}

header,
footer {
  background-color: #1a1a1a;
  color: #edebeb;
}

header {
  padding: 20px;
}

footer {
  padding: 40px;
}

.footer {
  display: grid;
  margin: auto;
}

footer p {
  font-family: "Barlow Condensed", Arial, Helvetica, sans-serif;
  margin: 2px;
}

footer h2 {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  color: #41a650;
  font-variant: small-caps;
  text-transform: none;
  margin: 0px;
}

footer ul {
  padding: 0px;
  margin: 0px;
}

footer li {
  display: block;
  font-weight: 600;
  padding: 5px 0px;
}

.cta {
  font-family: "Ravi Prakash";
}

.logo {
  max-width: 51px;
  border-radius: 50px;
}

.logo-and-text {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 110px;
}

.text-logo {
  align-self: end;
  max-width: 63px;
}

.nav {
  font-size: 1.4em;
  letter-spacing: 1px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  max-width: 1200px;
  text-transform: uppercase;
}

.nav ul {
  max-width: 620px;
  display: none;
  justify-content: space-between;
  padding: 20px 20px 40px 20px;
  margin: 264px 0px 0px -20px;
  position: absolute;
  background-color: #1a1a1a;
}

.nav li {
  display: block;
  margin-bottom: 6px;
}

#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ .nav-links {
  display: block;
}

.hero-banner {
  background-image: url(/images/william-bout-264826.jpg);
  margin: 0px;
}
