h1,
h2 {
  text-transform: uppercase;
  margin: 0px;
  color: #edebeb;
  font-weight: 400;
}

h1,
h2,
h3,
p,
nav {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

p {
  line-height: 1.5;
}

h1 {
  letter-spacing: 2px;
}

h3 {
  font-variant: small-caps;
  font-size: 1.4em;
}

h2 {
  font-size: 1.5em;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #edebeb;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #edebeb;
}

header,
footer {
  background-color: #1a1a1a;
  color: #edebeb;
}

header {
  padding: 20px;
}

.logo {
  max-width: 51px;
  border-radius: 50px;
}

.logo-and-text {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 110px;
}

.text-logo {
  align-self: end;
  max-width: 63px;
}

.nav {
  font-size: 1.4em;
  letter-spacing: 1px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  max-width: 1200px;
  text-transform: uppercase;
}

.nav ul {
  max-width: 620px;
  display: none;
  justify-content: space-between;
  padding: 20px 20px 40px 20px;
  margin: 264px 0px 0px -20px;
  position: absolute;
  background-color: #1a1a1a;
}

.nav li {
  display: block;
  margin-bottom: 6px;
}

#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ .nav-links {
  display: block;
}

footer {
  padding: 20px;
}

.footer {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(5, auto);
  gap: 5px;
}

footer p {
  font-family: "Barlow Condensed", Arial, Helvetica, sans-serif;
  margin: 1px;
  font-size: 0.9em;
}

footer h2 {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  color: #41a650;
  font-variant: small-caps;
  text-transform: none;
  margin: 0px;
  font-size: 1.2em;
  letter-spacing: 1px;
}

footer ul {
  padding: 0px;
  margin: 0px;
}

footer li {
  display: block;
  font-weight: 600;
  padding: 5px 0px;
  font-size: 0.8em;
}

.adress {
  grid-area: 2/1;
  margin-bottom: 10px;
}

.phone {
  grid-area: 3/1;
  margin-bottom: 10px;
}

.csm-email {
  grid-area: 4/1;
  margin-bottom: 30px;
}

.copyright {
  grid-area: 5/1;
}

footer nav {
  grid-row: span 2;
}

.social-media {
  grid-area: 5/2;
  display: flex;
}

.social-media img {
  max-width: 25px;
}

.cta {
  font-family: "Ravi Prakash";
  background-color: #1a1a1a;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0px 50px;
  border-radius: 4px;
}

/* ------------------------------------ HOME PAGE ------------------------------------ */
.hero-banner {
  background-image: url(/images/william-bout-264826.png);
  background-size: cover;
  background-position: center;
  margin: 0px;
  height: 324px;
  display: grid;
}

.hero-banner h1 {
  padding-top: 30px;
  padding-left: 25px;
}

.cta-varied {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  align-self: end;
  background-color: #f08000a8;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.cta-varied a,
.cta-varied img {
  margin-right: 15px;
}

.news {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow-x: auto;
}

.news-heading,
.our-exhibitions-mobile {
  color: #0d0d0d;
  margin: 30px 30px 20px 25px;
}

.news h3,
.news p {
  color: #edebeb;
  margin: 20px 35px;
}

.news-aero,
.news-energy,
.news-night {
  background-size: cover;
  background-position: center;
  min-height: 240px;
  display: grid;
  grid-template-rows: 60px auto;
}

.news-title {
  background-color: #3669a396;
  grid-area: 1/1;
}

.news-night .news-title {
  background-color: #a42e5d;
}

.news-energy .news-title {
  background-color: #41a650a1;
}

.news-aero {
  background-image: url(/images/aircraft-g18bd9296f_1920.png);
}

.news-night {
  background-image: url(/images/celso-405219.jpg);
  background-position-y: 100px;
}

.news-energy {
  background-image: url(/images/bulb-g3f89b32c0_1920.png);
  background-position-x: left;
}

.news-aero p,
.news-night p,
.news-energy p {
  grid-area: 2/1;
}

.news-aero img,
.news-night img,
.news-energy img {
  justify-self: end;
  grid-area: 2/1;
  align-self: end;
}

.newsletter {
  background-color: #3668a3;
  margin: auto;
  margin-top: 25px;
  color: #edebeb;
  padding: 20px 30px;
  max-width: 1130px;
}

.newsletter h2 {
  font-size: 1.3em;
}

.newsletter-subtitle {
  margin: 0px;
  margin-top: 5px;
  line-height: 1.3;
}

.newsletter-email {
  margin-bottom: 0px;
  font-size: 1.2em;
}

#newsletter {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  border: none;
}

.explore-section {
  background-image: url(/images/exhibition-1863344_1920.jpg);
  min-height: 324px;
  background-size: cover;
  background-position-x: right;
  display: flex;
}

.explore-section .cta-varied {
  background-color: #41a650a4;
}

/* ------------------------------------ EXPLORE ------------------------------------ */

.explore {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow-x: auto;
}

.explore h1,
.exhibitions h2 {
  color: #0d0d0d;
}

.explore h2 {
  padding-top: 30px;
  text-shadow: #000 2px 0 10px;
  padding-left: 25px;
}

.explore p {
  display: none;
}

.kids {
  background-image: url(/images/learn-2405206_1920.jpg);
}

.teachers {
  background-image: url(/images/teacher-g554695038_1920.jpg);
}

.researchers {
  background-image: url(/images/people-219985_1280.jpg);
}

.kids,
.teachers,
.researchers {
  height: 280px;
  display: grid;
  background-size: cover;
  grid-template-rows: auto 1fr auto;
}

.teachers .cta-varied {
  background-color: #a42e5da6;
}

.researchers .cta-varied {
  background-color: #3669a3c4;
}

.exhibitions {
  display: grid;
  gap: 40px;
  margin-top: 30px;
}

.exhibitions h2 {
  margin: 0px 0px -20px 10px;
}

.cosmology,
.evolution,
.biology,
.robotics,
.ecology {
  display: grid;
  color: #edebeb;
}

.cosmology,
.robotics {
  background-color: #a42e5d;
}

.evolution,
.ecology {
  background-color: #41a650;
}

.biology {
  background-color: #3668a3;
}

.exhibitions img {
  grid-row: 1;
}

.exhibitions-copy {
  margin: auto;
  max-width: 85%;
  margin-bottom: 20px;
}

.exhibitions h3 {
  margin-bottom: 0px;
}
